body{
    background-color: #ccc;
}

.container-right{
    position: absolute;
    right:0;
    height: 100%;
    width:50%;
}

.header{
    text-align: center;
}

.input{
    position: absolute;
    overflow: auto;
    margin: auto;

}

/* .SchoolNews{

    position: absolute;
    height: 100%;
    width:50%;
} */

/* .newcontainer{
    position: relative;
    height: 100%;
    width:100%;
} */
